<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext_title }}</p>

{% schema %}
  {
    "name": "Template 404",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Not found",
        "label": "Heading Title",
        "placeholder": "404 Heading Title"
      },
      {
        "type": "text",
        "id": "subtext_title",
        "default": "The page you were looking for does not exist",
        "label": "Subtext Title",
        "placeholder": "Subtext Title"
      }
    ]
  }
{% endschema %}